.breadcrumb>li+li:before {
    padding: 0 0px;
    color: #ccc;
    --bs-breadcrumb-divider: "|";
    margin: 0 10px;
}

.breadcrumb>li>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.input-group>input {
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
}